@inherits LayoutComponentBase

<CascadingValue Value="@HeaderInfo">
    <CascadingValue Value="@PageInfo">
        <Header></Header>
        <div class="app-router">
            @Body
        </div>
    </CascadingValue>
</CascadingValue>

