@inherits LayoutComponentBase

<CascadingValue Value="@HeaderTitle">
    <CascadingValue Value="@HeaderSubtitle">
        <Header></Header>
        <div class="app-router">
            @Body
        </div>
    </CascadingValue>
</CascadingValue>

